<% if @user.errors.any? %>
    <div class="warning-box">
        <% for message in @user.errors.full_messages %>
            <div><%= message %></div>
        <% end %>
    </div>
<% end %>

<div class="forgot-title">
    Change Password
</div>
<div class="forgot-desc">
    Choose a new password for your account.
</div>

<%= form_for @user, :url => password_reset_path(params[:id]), :method => :put do |f| %>

    <%= f.password_field :password, placeholder: "New Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm New Password" %>
    <%= f.submit 'Update Password', :class => "green-sm-btn update-pass-btn" %>
<% end %>