<%= form_for @user, :url => password_reset_path(params[:id]), :method => :put do |f| %>

	<% if @user.errors.any? %>
		<div class="errors">
			<h2>Invalid Form!</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

    <%= f.password_field :password %>
    <%= f.label 'Password Confirmation: ' %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit 'Update Password' %>
<% end %>