<%= form_for(@user) do |f| %>

  <%= f.label :alias %>
  <%= f.text_field :alias %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>
  
  
  Social Media
  <%= f.fields_for :social_account do |social_form| %>
      <%= social_form.label :facebook %>
      <%= social_form.text_field :facebook_url %>
      
      <%= social_form.label :twitter %>
      <%= social_form.text_field :twitter_url %>
      
      <%= social_form.label :stream %>
      <%= social_form.text_field :stream_url %>
  <% end %>
  
  <br>
  
  Featured Videos
  <div class="items">
      <%= f.nested_fields_for :videos do |f| %>
        <fieldset class="item">
          <%= f.label :Video %>
          <%= f.text_field :url %>

          <a href="#" class="remove">Remove</a>

          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
        </fieldset>
      <% end %>
    </div>
    <a href="#" class="add">Add Video</a>
  

  <%= f.submit "Update Profile" %>
<% end %>