<<<<<<< HEAD
<div id="signup-content">
    <div id="signup-steps">
        <ul>
            <li>Sign up</li>
            <li>Choose account</li>
            <li>Create profile</li>
        </ul>
    </div>
    <div id="signup-frame">
        <div id="signup-banner">
            <%= image_tag "gg-logo-lg-3d.png", :id => "banner-logo" %>
            <div id="banner-motto">Your esports network.</div>
        </div>
        <div id="signup-form">
            <%= form_for(@user) do |f| %>
    
            <%= f.text_field :name, placeholder: "Full name" %>
          
            <%= f.text_field :alias, placeholder: "Alias" %>
    
            <%= f.text_field :email, placeholder: "Email" %>
    
            <%= f.password_field :password, placeholder: "Password" %>
    
            <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
    
            <%= f.submit "Sign up" %>
            
            <% end %>
        </div>
    </div>
=======
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div>
	<% if flash[:errors] %>
		<% flash[:errors].full_messages.each do |e| %>
			<%= e %>
			<br>
		<% end %>
	<% end %>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
	  
      <%= f.label :alias %>
      <%= f.text_field :alias %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
>>>>>>> 65e931d087cfa6398c2cb20418372c29dcb066be
</div>