<div class="signup-frame">
    <div class="signup-banner">
        <%= image_tag "gg-logo-lg-3d.png", :class => "banner-logo" %>
        <div class="banner-motto">Your professional esports network.</div>
    </div>
    <div>
        <div class="warning-box">
            <% if flash[:errors] %>
                <% flash[:errors].each do |e| %>
                    <div><%= e %></div>
                <% end %>
            <% end %>
        </div>
        <%= form_for(@user) do |f| %>
        <%= f.text_field :name, placeholder: "Full name" %>        
        <%= f.text_field :alias, placeholder: "Alias" %>
        <%= f.text_field :email, placeholder: "Email" %>  
        <%= f.password_field :password, placeholder: "Password" %>  
        <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
        <%= f.submit "Sign up" %>
        <% end %>
        <div class="form-note">
            By clicking this button you agree to GGDeck's <%= link_to "Terms and Conditions", page_path(id: 'terms') %>
        </div>
    </div>
</div>