<%= render 'layouts/profile_header_personal' %>

<div class="content">
    <div id="main">
        <div id="quick-info">
            <div>
                <%= image_tag "white-square.png", :class => "circle" %>
            </div>
            <div>
                <div>
                    <h1><%= @user.name %></h1>
                    <div class="verified"><i class="fa fa-check"></i> Verified</div>
                </div>
                <div>
                    <h2>HubridNoxx.193</h2>
                </div>
                <div>
                    <div class="status"></div>
                </div>
                
            </div>
        </div>
        <div id="main-info">
            <div class="main-block">
                <h3><i class="fa fa-male"></i>About<i class="fa fa-caret-down fa-lg float-r clickable"></i></h3>
                <div class="main-block-left">
                    <ul>
                        <li>
                            <b>Age</b>
                            <span>19</span>
                        </li>
                        <li>
                            <b>Location</b>
                            <span>Seattle</span>
                        </li>
                        <li>
                            <b>Language</b>
                            <span>English</span>
                        </li>
                    </ul>
                </div>
                <div class="main-block-right">
                    <p>
                        This is my short little bio.  Here I talk about what I like, my hobbies, things I do in my spare time.  La dee da.
                    </p>
                </div>
                
                
                <div>
                  <%= "Facebook:" + @social.facebook_url if @social.facebook_url  %>
                  <%= "Twitter:" + @social.twitter_url if @social.twitter_url %>
                  <%= "Stream:" + @social.stream_url if @social.stream_url %>
                </div>
                
                
            </div>
            <div class="main-block">
                <h3><i class="fa fa-gamepad"></i>Experience<i class="fa fa-caret-down fa-lg float-r clickable"></i></h3>
            </div>
            <div class="main-block">
                <h3><i class="fa fa-bar-chart-o"></i>Statistics<i class="fa fa-caret-down fa-lg float-r clickable"></i></h3>
            </div>
            <div class="main-block">
                <h3><i class="fa fa-quote-left"></i>Recommendations<i class="fa fa-caret-down fa-lg float-r clickable"></i></h3>
            </div>
        </div>
    </div>
    <%= render 'layouts/profile_sidebar' %>
</div>