<div id="auth">
    <%= raw flash[:error] %>
    <div id="auth-logo">
        <%= image_tag "gg-logo.png" %>
    </div>
    <div id="auth-form">
        <%= form_for(:session, url: sessions_path) do |f| %>
            <%= f.text_field :email, :placeholder => "Email" %>
            <%= f.password_field :password, :placeholder => "Password" %>

			<div id="auth-remember-section">
                <label>
                    <%= f.check_box :remember_me %>
                    <i class="fa fa-square-o fa-fw"></i>Remember me
                </label>
            </div>
            <%= f.submit "Sign in", :class => "green-sm-btn" %>
        <% end %>
        <span>
            <%= link_to "Create an account", "/signup" %><%= link_to "Forgot password?", "#" %>
        </span>
    </div>

</div>
