<footer>
    <div>
        <h4>Us</h4>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Blog", "#" %></li>
            <li><%= link_to "Team", "#" %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Jobs", "#" %></li>
        </ul>
    </div>
    <div>
        <h4>Info</h4>
        <ul>
            <li><%= link_to "Privacy", "#" %></li>
            <li><%= link_to "Terms", "#" %></li>
        </ul>
    </div>
    <div>
        <h4>Social</h4>
        <ul>
            <li><%= link_to "Facebook", "#" %></li>
            <li><%= link_to "Twitter", "#" %></li>
            <li><%= link_to "Github", "#" %></li>
        </ul>
    </div>
</footer>