<footer>
    <div>
        <%= image_tag("gg-logo-666.png") %>
        <p>Geeg.ee is a professional esports network that connects teams to new talent.</p>
    </div>
    <div>
        <h4>Us</h4>
        <ul>
            <li><%= link_to "About", page_path(id: 'about') %></li>
            <li><%= link_to "Blog", "http://ggdeck.tumblr.com/" %></li>
            <li><%= link_to "Team", page_path(id: 'team') %></li>
            <li><%= mail_to "hello@geegee.com", "Contact" %></li>
        </ul>
    </div>
    <div>
        <h4>Info</h4>
        <ul>
            <li><%= link_to "Privacy", "#" %></li>
            <li><%= link_to "Terms", page_path(id: 'terms') %></li>
        </ul>
    </div>
    <div>
        <h4>Social</h4>
        <ul>
            <li><%= link_to "Facebook", "#" %></li>
            <li><%= link_to "Twitter", "#" %></li>
            <li><%= link_to "Github", "#" %></li>
        </ul>
    </div>
</footer>