<div id="sidebar">
        <div id="connect-region">
            <div id="follow-region">
                <div class="green-sm-btn">
                    <i class="fa fa-plus-circle"></i>Connect
                </div>
            </div>
            <div id="contact-region">
                <div class="gray-sm-btn">
                    <i class="fa fa-envelope"></i>Contact
                </div>
            </div>
        </div>
        <div id="sidebar-info">
            <div id="permalink" class="sidebar-block">
                <input type="text" readonly="readonly" value="http://ggdeck.com/u/zackelliott" />
                <i class="fa fa-copy clickable"></i>
            </div>
            <div id="quick-info" class="sidebar-block">
                <h5>Info</h5>
                <ul>
                    <li>Age<span>18</span></li>
                    <li>Location<span>Seattle, WA</span></li>
                    <li>Languages<span>English, Spanish</span></li>
                </ul>
            </div>
            <div id="social-links" class="sidebar-block">
                <h5>Social Links</h5>
                <ul>
                    <li>Facebook<a href="">HubridNoxx's Page</a></li>
                    <li>Twitter<a href="">@hubridnoxx</a></li>
                    <li>Stream<a href="">HubridNoxx's Channel</a></li>
                </ul>
                <% if @social %>
                    <%= "Facebook:" + @social.facebook_url if @social.facebook_url  %>
                    <%= "Twitter:" + @social.twitter_url if @social.twitter_url %>
                    <%= "Stream:" + @social.stream_url if @social.stream_url %>
                <% end %>
            </div>
            <div id="related-players" class="sidebar-block">
                <h5>Related Players</h5>
                <ul>
                    <li>
                        <%= image_tag "small-white-square.png", :class => "circle" %>
                        <%= link_to "Zack Elliott", "#" %>
                        <small>Status of player</small>
                    </li>
                    <li>
                        <%= image_tag "small-white-square.png", :class => "circle" %>
                        <%= link_to "Hubrid Noxx", "#" %>
                        <small>Status of player</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>