<!DOCTYPE html>
<html>
    <head>
        <title>ggdeck | </title>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="wrap">
            <%= render 'layouts/auth' %>
            <div id="header-bkg">
                <%= render 'layouts/header' %>
            </div>
            <%= yield :about_header %>
            <%= yield :team_header %>
            <div id="container">
                <%= yield %>
            </div>
        </div>
        <div id="footer-bkg">
            <%= render 'layouts/footer' %>
        </div>
    </body>
</html>