<!DOCTYPE html>
<html>
    <head>
        <title>Geeg.ee | </title>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <script>
            $(document).ready(function() {
                $('.tooltip').tooltipster({
                    position: 'bottom',
                    animation: 'grow'
                });
            });
        </script>
    </head>
    <body>
        <%= render 'layouts/auth' %>
        <div id="darken-blur-wrapper" onclick="hideSignIn();"></div>
        <div id="blur-wrapper">
            <div id="wrapper">
                <div id="tall-header-bkg">
                    <%= render 'layouts/tall_header' %>
                </div>
                <%= render 'layouts/dropdown_header' %>
                <div id="container">
                    <div class="signup-content">
                        <div class="signup-steps">
                            <ul>
                                <li class="active-step"><i class="fa fa-chevron-circle-right"></i>Sign up</li>
                                <li>Choose account</li>
                                <li>Select game</li>
                                <li>Create profile</li>
                            </ul>
                        </div>
                        <%= yield %>
                    </div>
                </div>
            </div>
            <div id="footer-bkg">
                <%= render 'layouts/footer' %>
            </div>
        </div>
    </body>
</html>