<!DOCTYPE html>
<html>
    <head>
        <title>Geeg.ee | </title>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body class="sm-app">
        <%= render 'layouts/auth' %>
        <div id="darken-blur-wrapper" onclick="hideSignIn();"></div>
        <div id="blur-wrapper">
            <div id="wrapper">
                <div id="header-bkg">
                    <%= render 'layouts/sm_header' %>
                </div>
                <div id="container">
                    <div class="sm-app-form">
                        <div class="sm-logo">
                            <%= image_tag "gg-logo-lg-3d.png" %>
                        </div>
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>